<footer>
	<div row class="footer--bottom"><div container>
      <div column=4>
        <!-- <h4 class="Raleway">Koleksi Link:</h4> -->
        <br/>
        <ul class="list--unstyled">
          <li><h4><i class="fa fa-github"></i> <a href="https://github.com/PagarUbuntu-Indonesia">PagarUbuntu-Indonesia</a></h4></li>
          <li><h4><i class="fa fa-github"></i> <a href="https://github.com/jockerz/">Jockerz</a></h4></li>
        </ul>
      </div>
      <div column=4> 
        <div class="alert alert--success">
          Untuk kritik dan saran silahkan kirim email ke <strong>jockerz <em>at</em> protonmail.ch</strong> atau buat <a href="https://github.com/PagarUbuntu-Indonesia/haluang/issues">issue di repository haluang</a>  
        </div>
      </div>
      <div column=4 class="centerMe">
        <h4 class="Raleway">Dibuat Dengan:</h4>
        <a class="button button-card button--sm button--bordered border--success">
          <h2><i class="fa fa-terminal"></i></h2>
        </a>
        <a class="button button-card button--sm button--bordered border--success" href="http://linux.org">
          <h2><i class="fa fa-linux"></i></h2>
        </a>
        <a class="button button-card button--sm button--bordered border--success">
          <h2><i class="fa fa-music"></i></h2>
        </a>
        <a class="button button-card button--sm button--bordered border--success">
          <h2><i class="fa fa-coffee"></i></h2>
        </a>
      </div>
    </div></div>
</footer>
<footer>
<div container><div row>
  <div column=8>
    <p>
      Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. Any exception will be noted
    </p>
  </div>
  <div column=4>
    <p style="text-align: right;">
      <a href="{{ site.baseurl }}">{{ site.title }}</a>
    </p>
  </div>
</div></div>
</footer>