{% extends "_base.html" %}
{# --------- TITLE --------- #}
{% block title %}
	{%- if page.title is defined -%}
		{{- site.title }} &ndash; {{ page.title -}}
	{%- else -%}
		{{ site.title }}
	{%- endif %}
{% endblock %}

{%- block content %}
{# --------- JUDUL --------- #}
{% include 'parts/judul.html' with context %}

{# --------- MENU PEMOGRAMAN --------- #}
<div container>
<div row class="contentMe centerMe">
{% for content in contents %}
	<div column=3>
		<h3 class="Raleway">{{ content.title }}</h3>
		<p>
		{% autoescape false -%}
			{{ content.desc }}
		{%- endautoescape %}
		</p>
		<a {%- if content.release %} href="
			{%- if 'code/' in content.url %}
				{{- site.baseurl }}{{ content.url -}}
			{%- else -%}
				{{- content.url -}}
			{%- endif -%}
		"{%- endif %} class="button button--bordered {% if not content.release -%}
			border--muted
		{%- endif %} button--sm">
		{%- if content.release -%}
			Buka &raquo;
		{%- else -%}
			Segera &laquo;
		{%- endif -%}
		</a>
	</div>

{% if loop.index and loop.index % 4 == 0 %}
</div>
<div row class="contentMe centerMe">
{% endif %}

{% endfor %}
</div>
</div>
{% endblock %}
