{% extends "_base.html" %}

{# ######## JUDUL ########## #}

{% block title -%}
	{% if page is defined and page.title is defined -%}
		{{- site.title }} &ndash; {{ page.title -}}
	{%- else -%}
		{{ site.title }}
	{%- endif -%}
{%- endblock -%}

{# ######## KONTEN ########## #}

{%- block content %}

{% for tut in tutorial %}
<div class="judul" id="tutorial-{{ tut }}">
  <h1 container class="centerMe">
  	<i class="fa {{ tutorial[tut].icon }}"></i> {{ tutorial[tut].title -}}
  </h1>
</div>

<div container>
<div row class="contentMe centerMe tutorial-{{ tut }}">
	
	{% set konten = tutorial[tut].konten %}
	{% for cabang in konten[:3] %}
	<div column=3 id="cabang-tutorial-{{ cabang.title }}">
		<h3 class="Raleway">{{ cabang.title }}</h3>
		<p>{% autoescape false %}{{ cabang.desc }}{% endautoescape %}</p>
		{% if cabang.rilis %}
			<a href="{{ cabang.url }}" class="button button--bordered button--sm">Buka &raquo;</a>
		{% else %}
			<a href="#" class="button button--bordered border--muted button--sm">Segera &laquo;</a>
		{% endif %}
	</div>
	{% endfor %}

	<div column=3 id="daftar-tutorial-{{ tut }}">
		<h3 class="Raleway">Selengkapnya</h3>
		<p>Daftar tutorial bahasa pemograman</p>
		<a href="{{ url_for('tutorial', item=tut) }}" class="button button--bordered button--sm">Buka &raquo;
		</a>
	</div>
</div>
</div>

{% endfor %}

<div class="judul" id="referensi-luar">
  <h1 container class="centerMe">
  	<i class="fa fa-code"></i> Referensi Lain
  </h1>
</div>

<div container>
<div row class="contentMe centerMe">
	
	{% for r in ref %}
	<div column=3 id="ref-code-{{ r.nama }}">
		<h3 class="Raleway">{{ r.nama }}</h3>
		<p>
			{% autoescape false %}
			{{ r.desc }} <em>oleh</em> 
			{% if r['link-penulis'] %}
				<strong><a href="{{ r['link-penulis'] }}">{{ r.penulis }}</a></strong>
			{% else %}
				<strong>{{ r.penulis }}</strong>
			{% endif %}
			{% endautoescape %}
		</p>	
		<a href="{{ r.url }}" class="button button--bordered button--sm">Buka &raquo;</a>
	</div>
	{% endfor %}

	<!--
	<div column=3 id="ref-code">
		<h3 class="Raleway">Selengkapnya</h3>
		<p>Daftar tutorial bahasa pemograman bahasa Indonesia</p>
		<a href="#" class="button button--bordered button--sm border--muted">Buka &laquo;
		</a>
	</div>
	-->
</div>
</div>

{% endblock %}
