{% extends "_base.html" %}
{# --------- TITLE --------- #}
{% block title %}
	{%- if page.title is defined -%}
		{{- site.title }} &ndash; {{ page.title -}}
	{%- else -%}
		{{ site.title }}
	{%- endif %}
{% endblock title %}

{%- block content %}

{# --------- JUDUL --------- #}
{% include 'parts/code/judul.html' with context %}

{# --------- MENU PEMOGRAMAN --------- #}
<div container>
<div row class="contentMe">
	<div column=3 style="padding: 20px 0;">
		{%- include "parts/lang_menu.html" with context %}
	</div>
	<div column=9 >
		{{ page.html|safe }}
	</div>
</div>
</div>

{% endblock %}
