<div class="sidebar">
<ul class="list--unstyled">

{%- for B in bab | sort(reverse=false) -%}
	<li>
		<h4 class="underlineMe">
			{{ config['seksi'][bab[B]]['judul'] }}
		</h4>
		<ul class="list--unstyled">
		
		{% for laman in daftar_menu[bab[B]] | sort(attribute='path') %}
		<li>
			<a href="{{ laman.path.replace('pages', '') }}" {% if laman_skrg is defined -%}
			{%- if laman.path.replace('pages', '') == laman_skrg -%}
				 class="active-sidebar"
			{%- endif -%}
			{%- endif -%}>
			
			{%- if laman.menu_title is defined -%}
				{{- laman.menu_title|e -}}
			{%- else -%}
				{{- laman.title -}}
			{%- endif -%}
			</a>		
		</li>
		{% endfor %}
		
		</ul>
	</li>
{% endfor %}

</ul>
</div>